<!DOCTYPE html>
<html>

<head>
    <title>Cyber Attack</title>
    <style>
        .body {
            border: 1px solid grey;
            color: blue;
        }
    </style>
</head>

<body class="body">
    <h1>Cyber Attack</h1>
    <form method="POST" action="/add">
        <label for="Flow_ID">Flow_ID 1:</label>
        <input type="text" id="Flow_ID" name="Flow_ID" required><br><br>

        <label for="Source_IP"> Source_IP 2:</label>
        <input type="text" id="Source_IP" name="Source_IP" required><br><br>

        <label for="Source_Port"> Source_Port 2:</label>
        <input type="text" id="Source_Port" name="Source_Port" required><br><br>

        <label for="Destination_Port">Destination_Port 2:</label>
        <input type="text" id="Destination_Port" name="Destination_Port" required><br><br>

        <label for="Destination_IP"> Destination_IP 2:</label>
        <input type="text" id="Destination_IP" name="Destination_IP" required><br><br>

        <label for="Timestamp"> Timestamp 2:</label>
        <input type="text" id="Timestamp" name="Timestamp" required><br><br>

        <label for="Label"> Label 2:</label>
        <input type="text" id="Label" name="Label" required><br><br>

        <label for="Flow_Bytes_per_second "> Flow_Bytes_per_second 2:</label>
        <input type="text" id="Flow_Bytes_per_second" name="Flow_Bytes_per_second" required><br><br>

        <label for="Flow_Packets_per_second"> Flow_Packets_per_second 2:</label>
        <input type="text" id="Flow_Packets_per_second" name="Flow_Packets_per_second" required><br><br>

        <label for="Fwd_Packets_per_second"> Fwd_Packets_per_second 2:</label>
        <input type="text" id="Fwd_Packets_per_second" name="Fwd_Packets_per_second" required><br><br>

        <input type="submit" value="Add">
    </form>
</body>

</html>